.no-last-hr hr:last-child {
	display: none;
}

.menu h3 i {
	margin-right: 5px;
}

textarea { resize: vertical; }

.mouse-pointer { cursor: pointer; }

.mt0 { margin-top: 0; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }

.ml0 { margin-left: 0; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }

.mr0 { margin-right: 0; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }

.mb0 { margin-bottom: 0; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }

table a, .table a {
	text-decoration: none;
}

.dropdown-menu > li > a {
	padding-left: 10px;
	padding-right: 10px;
}

div.well p:last-child {
	margin: 0;
}

ul.pagination a.pager {
	margin: 10px 0;
}

ul.pagination.disabled {
	opacity:0.4;
	filter: alpha(opacity = 40);
}

/* Adding badge style for dropdown-menu */
.dropdown-menu > li > a .badge {
	margin-top: 2px;
}

/* Some styles for our own "chosen" clone */
div.searchable-plugin button i {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}

div.searchable-plugin ul.dropdown-menu {
	margin-left: 15px;
	padding: 10px;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.searchable-plugin ul input.filter {
	margin-bottom: 10px;
}

/* Some styles for the credit-popup */
#popup {
	background-clip: padding-box;
	position: fixed;
	top: 15px;
	left: 50%;
	width: 800px;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: -400px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	z-index: 1000;
}

#overlay {
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.blur {
	-webkit-filter: grayscale(90%) blur(3px);
	-moz-filter: grayscale(90%) blur(3px);
	-ms-filter: grayscale(90%) blur(3px);
	-o-filter: grayscale(90%) blur(3px);
	filter: grayscale(90%) blur(3px);

	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.blur-off {
	-webkit-filter: grayscale(0%) blur(0);
	-moz-filter: grayscale(0%) blur(0);
	-ms-filter: grayscale(0%) blur(0);
	-o-filter: grayscale(0%) blur(0);
	filter: grayscale(0%) blur(0);

	-moz-transition:all 0.15s ease-in-out;
	-webkit-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.widget-container:hover .controls {
	display: block;
}

.widget-container .controls {
	display: none;
	position: absolute;
	right: 20px;
	top: 5px;
}